<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  xmlns:mindfula11y="http://typo3.org/ns/MindfulMarkup/MindfulA11y/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Module" />

  <f:section name="Content">
    <!-- The module is the structure widget's own page: nothing sits below it
         that a collapsed tree would keep above the fold. -->
    <f:alias map="{headingLevel: 1, collapsibleStructure: 0}">
      <f:render partial="Backend/Overview" arguments="{_all}" />
    </f:alias>
  </f:section>
</html>
